.container-fluid{
    position: relative;
    text-align: center;
}
.buttom{
    position: relative;
    bottom: 220px;
}
.container-fluid{
    position: relative;
    text-align: center;
}
.buttom{
    position: relative;
    bottom: 220px;
}
